* {
    transition: all 1s ease-in-out;
}

body {
    background: #9f86c0;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.card {
    background: #be95c4;
    border-radius: 4px;
    height: 85vh;
    width: 80vw;
    box-shadow: 0 3px 40px rgba(0, 0, 0, 0.16), 0 3px 40px rgba(0, 0, 0, 0.23);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
    border-radius: 10px;
}


@media only screen and (min-width: 1000px) {
    .card {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .card img.birthday {
        width: 100%;
        max-width: 50vw;
        max-height: unset;
    }
}

@media only screen and (max-width: 640px) {
    .card {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .card img.birthday {
        width: 100%;
        max-width: 50vw;
        max-height: unset;
    }
}

img.birthday {
    max-height: 40vh;
}

.button {
    background-color: #E0b1cb;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.text {
    padding: 1em;
    color: #5e548e;
}

.muted {
    opacity: 0.6;
}

.space {
    height: 100px;
}